<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574198788635-ieea8i3slg6tn0vf5tc2gqfvnosa1mng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574198788635-ieea8i3slg6tn0vf5tc2gqfvnosa1mng</string>
	<key>API_KEY</key>
	<string>AIzaSyD99PVRNEVx77GRJBN-zyIWVTl2_vpwAIc</string>
	<key>GCM_SENDER_ID</key>
	<string>574198788635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterMonster</string>
	<key>PROJECT_ID</key>
	<string>water-monster-102e7</string>
	<key>STORAGE_BUCKET</key>
	<string>water-monster-102e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574198788635:ios:de04ae5d7c642f463a3ebe</string>
</dict>
</plist>